{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="structural analysis">
    <meta name="keywords" content="beam analysis, bmd, sfd, reactions">
    <meta name="authors" content="Abhishek Mhamane, Ranjan Sonporate">
 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- External Css File -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

    {% if title %}
        <title>{{ title }}!</title>
    {%else%}
        <title> Add Title </title>
    {% endif %}
</head>
  <body>
    <div class="container">
        <header class="align-items-center justify-content-center justify-content-md-between py-2 mb-2 border-bottom">
            <a href="{% url 'index'%}" class="justify-content-center">
                <h2><strong>Structural</strong> <em> Analysis </em> </h2>
            </a>
        <nav navbar navbar-expand-lg navbar-light bg-white fixed-top>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item"><a href="{% url 'index'%}" class="nav-link px-2 link-secondary">Home</a></li>
                <li class="nav-item"><a href="{% url 'beam-landing'%}" class="nav-link px-2 link-dark">Beam Analysis</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 link-dark">What-if Analysis</a></li>
                <li class="nav-item"><a href="{% url 'blog-landing'%}" class="nav-link px-2 link-dark">Blog</a></li>
                <li class="nav-item"><a href="{% url 'contact-landing'%}" class="nav-link px-2 link-dark">Contact</a></li>
            </ul>
        </nav>
        </header>
    </div>

    
    <main>
        <div class="container">
            {% block content %} 
            
            {% endblock content%}
        </div> 
    </main>
    

    <div role="footer" class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'index'%}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="{% url 'beam-landing'%}" class="nav-link px-2 text-muted">Beam Analysis</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">What-if Analysis</a></li>
                <li class="nav-item"><a href="{% url 'blog-landing'%}" class="nav-link px-2 text-muted">Blog</a></li>
                <li class="nav-item"><a href="{% url 'contact-landing'%}" class="nav-link px-2 text-muted">Contact</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 Department of Civil Engineering<br>
                VNIT, Nagpur
            </p>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>